/* Navbar  */

body
{
    font-family: 'Nunito', sans-serif;
    background-color: #f5f5f5;
}

.navbar-default 
{
    background-color: #163c5a;
    border-color: #163c5a;
    border-radius: 0%;
}
.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 16px;
}
.navbar-nav>li:nth-child(1)
{
    border-left:1px solid #005580;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 16px 15px;
    /* border-left: thin solid #005580; */
    border-right: thin solid #005580;
}
.nav-input
{
    background-color: #e8e6e6 !important;
    border-top-right-radius: 23px !important;
    border-bottom-right-radius: 23px !important;
}
.input-group-addon 
{ 
    border-radius: 23px;
    background-color: #e8e6e6;
}
.nav-btn
{
    border-radius: 23px;
    /* height: 10px; */
    color: black !important;
    padding:0px 17px !important;
    margin-top: 0.3em;
}
.nav-btn:hover
{
    background-color: white !important;
}
.nav-btn:focus
{
    background-color: white !important;
}
.help-text
{
    display: block;
    margin-top: -10px;
    margin-bottom: -1px;
    font-size: 10px;
    margin-left: 2em;
}
.nav-img
{
    padding-top: 0.3em;
}
.information-label
{
    width: 11%;
}

/* content start */
.panel-border
{
    border: none;
    box-shadow: 1px 1px 1px 1px #e8e6e6
}

/* tiles start */
.tile
{
    height: 12em;
    color: white;
    padding-top: 1.5em;
    /* background-color:green; */
}
.tasks
{
    background-color: #5bb55b;
}
.patients
{
    background-color: #e0a31b;
}
.alert-patients
{
    background-color: #d05144;
}
.tile-footer
{
    height: 35px;
    color: #4e4949;
    background-color: #eaeaea;
    width: 90.8%;
    margin:8.1em 0em 0em 1.1em;
    padding-top: 0.3em;
}
footer
{
    height: 30px;
    background-color: #163c5a;
    color: white;
    padding-top: 0.5em;
}

/* Patient details */
.patient-info li
{
    display: inline-block;
    list-style: none;
    padding: 0em 0.5em;
}
.patient-icons li
{
    display: inline;
    list-style: none;
    padding: 0em 0.5em;
}
.add-program-btn
{
    background-color: #163c5a;
    border: #163c5a;
    border-radius: 50px;
    padding:0.7em 2em;
}
.pagination-btn
{
    border-radius: 0px;
    background-color: #163c5a;
    border: #163c5a;
}
.patient-overview-btn
{
    background-color: #eaeaea;
    border:none;
    padding:1em 1em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.patient-active
{
    background-color: #686b6d;
    color: white;
}
.patient-active:hover {
    background-color: #686b6d;
    color: white;
}
.patient-active:focus {
    background-color: #686b6d;
    color: white;
}
.assessment-form
{
    height:350px;
    overflow:auto;
}
.assessment-form::-webkit-scrollbar {
    width: 0.5em;
}
.assessment-form::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.assessment-form::-webkit-scrollbar-thumb {
    background-color: #dcd7d7;
    outline: 1px solid #dcd7d7;
  }
  .diet-btn
  {
      padding:0.9em 1.6em;
      margin-top: 1em;
  }
  .assessment-save-btn
  {
      /* padding: 0.4em 1.5em; */
      width: 100%;
      border-radius: 40px;
      border:2px solid #163c5a; 
  }
  .save-active
  {
      background-color: #163c5a;
      color: white;
  }
  .created-by
  {
      padding-left: 2.2em;
  }
  .important-info
  {
      height: auto;
      width: 85%;
      border:1px solid #888787;
      /* margin-left: 30%; */
      margin-top: 1em;
      padding-left: 2em;
      float:right;
  }

